---
layout: default
title: Your partner for any design
description: Freelancer architect helps you bring your design to life. 

---

<div class="page-home">	
	<section class="listing" style="background-color: #fff;">
		<div class="wrap">
			{% for project in site.business_projects %}

			{% if project.accent_color %}{% capture accent_color %}{{ project.accent_color }}{% endcapture %}{% endif %}

			<article class="project__preview" style="margin-bottom: 40px;">
				<div class="project__images owl-carousel fancy" style="--accent: {{ accent_color }};">
					{% for image in project.image_list %}
					<div class="grid_3" wdith="100%" style="background-color: #fff;">
						<div style="margin-bottom: 15px;">
							<img src="{{ '/images/' | relative_url}}{{ image.left }}" alt="" style="width: auto; margin: auto; object-fit: scale-down;"/>
						</div>
						<div style="margin-bottom: 15px;">
							<img src="{{ '/images/' | relative_url}}{{ image.center }}" alt="" style="width: auto; margin: auto;  object-fit: scale-down;"/>
						</div>
						<div style="margin-bottom: 15px;">
							<img src="{{ '/images/' | relative_url}}{{ image.right }}" alt="" style="width: auto; margin: auto;  object-fit: scale-down;"/>
						</div>
					</div>
					
					{% endfor %}

				</div>
			</article>

			{% endfor %}
			
		</div>
	</section>
</div>