---
layout: default
title: Your partner for any design
description: Your partner for any design. 

---

<div class="page-home">

	<div class="wrap">
		<img src="{{ '/images/header1.svg' | relative_url }}" style="margin-left: auto; margin-right: auto;">
	</div>
	<div class="wrap" style="text-align: center; margin-top: 30px; margin-bottom: 70px;">
		<h4><span style="font-size: 0.75em;">“A well thought and accurate design can enhance the users’ experience, 
		without they even realize it.”</span></h4>
	</div>

	<section class="listing" style="background-color: #fff;">
		<div class="wrap">
			{% for project in site.projects reversed %}

			{% if project.accent_color %}{% capture accent_color %}{{ project.accent_color }}{% endcapture %}{% endif %}

			<article class="project__preview">
				<div class="project__images owl-carousel" style="--accent: {{ accent_color }}">
					{% include {{ project.images }} %}
				</div>
			</article>

			{% endfor %}
			
		</div>
	</section>

	<section class="technologies">
		<div style="margin-bottom: 30px">
			<div class="wrap">
				<div class="grid_2">
					<div>
						<p>Laura is a skilled architect specialized in housing renovations.
							Living and working in The Hague since 2015, she has been involved with various perspectives of the construction process, 
							from the first sketches (SO, VO) through building permit(BA) to realization and construction drawings (W) and she is familiar with all main Dutch laws 
							(Bouwbesluit, Woningwet, Bestemmingsplan, Beschermde stadsgezicht, Brandveiligheid enz.).			
							However her portfolio’s includes project located all over the Europe and some overseas as well. among others
							<ul>
								<li>construction drawings for an industrial warehouse (USA)</li>
								<li>sketch and concept design for a shopping mall (RU)</li>
								<li>Apartments and villa’s renovations 
								(all over EU, mostly in The Netherlands, Italy and France)</li>
							</ul>
						</p>
						<p>  
							Actively working towards more sustainable solutions, 
							she’s constantly learning about new techniques or product that can help us reach those 
							Zero energy buildings we have been talking about for at least 2 decades now. 
							DfD and prefab are the way to go to reduce building footprint without compromising its estetics and design flexibility.
							
							She currently works as a freelancer to support 
							private clients as well as, small and medium size, business in field related to architecture, technical drawings and 3D visualizations.
							
							I am able to work with a wide range of softwares: Revit, Archicad, Sketchup, v-Ray, Cine render, Lumion 3D, Adobe suite.. just to name it a couple.
							
							Colleagues know me as a highly motivated draftsman and a creative designer who always strives to find the right balance between customer's demands and contingents requirements.
							
							I hold an MSc in Building engineering and Architecture (4/S) from the University of Catania, Italy.
							
							Feeling like you could use some help? If so, do not hesitate to get in touch! Always happy to meet new colleagues and hear about their unique perspectives. 
						</p>
					</div>
					<img src="{{ '/images/profile.png' | relative_url }}" >
				</div>	
			</div>
		</div>
		<div class="usp" style="margin-top: 30px">
			<div class="wrap">
				<div class="grid_2" style="margin-bottom: 30px; margin-top: 30px">
					<img width="80%" src="{{ '/images/Project1.jpg' | relative_url }}" style="margin-right: auto; margin-left: auto; border: 1px solid #000">
					<div style="width:80%; margin-right: auto; margin-top: 30px;">
						<h3>TECHNICAL DRAWING</h3>
						<p style="font-size: 1.5em;">Need help drawing your dream project in order to obtein the building permit or to handle it over to the builder or simply for you to see every little corner in 3d before it is actually build?
						</p>
						<div style="margin-top: 30px;">
							<a href="#" class="button--fill --large contact-trigger js-contact">More info</a>
						</div>
					</div>
				</div>
			</div>
			<div class="wrap">
				<div class="grid_2" style="margin-bottom: 30px; margin-top: 30px">
					<img width="80%" src="{{ '/images/Project2.jpg' | relative_url }}" style="margin-right: auto; margin-left: auto;">
					<div style="width:80%; margin-right: auto; margin-top: 30px;">
						<h3>2D & 3D VISUALIZATIONS</h3>
						<p style="font-size: 1.5em;">Want to have a look to the end result before hand want to show it to your client or 
							the municipality or to submit your proposal to a competition ?
							There’s a ton of possibilities out there.
						</p>
						<div style="margin-top: 30px;">
							<a href="#" class="button--fill --large contact-trigger js-contact">More info</a>
						</div>
					</div>
				</div>
			</div>
			<div class="wrap">
				<div class="grid_2" style="margin-bottom: 30px; margin-top: 30px">
					<video width="80%" src="{{ '/images/Project3.mp4' | relative_url }}" style="margin-right: auto; margin-left: auto; border: 0px solid #000" playsinline muted autoplay></video>
					<div style="width:80%; margin-right: auto; margin-top: 30px;">
						<h3>FULL-SERVICE</h3>
						<p style="font-size: 1.5em;">Every project is NOT the same. Request a specific design from start to finish completely tailored on your needs and up to the scale of detail that you need.
						</p>
						<div style="margin-top: 30px;">
							<a href="#" class="button--fill --large contact-trigger js-contact">More info</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="hero usp" style="text-align: center; padding-top: 50px;">
			<img src="{{ '/images/Render1.jpg' | relative_url }}" style="object-fit:cover; margin-left: auto; margin-right: auto;">
		</div>
	</section>
</div>