---
layout: default
title: Your partner for any design
description: Your partner for any design. 

---

<div class="page-home">

	<div class="wrap">
		<img src="{{ '/images/header1.svg' | relative_url }}" style="margin-left: auto; margin-right: auto;">
	</div>
	<div class="wrap" style="text-align: center; margin-top: 30px; margin-bottom: 70px;">
		<h4><span style="font-size: 0.75em;">“A well thought and accurate design can enhance the users’ experience, 
		without they even realize it.”</span></h4>
	</div>

	<section class="listing" style="background-color: #fff;">
		<div class="wrap">
			{% for project in site.projects reversed %}

			{% if project.accent_color %}{% capture accent_color %}{{ project.accent_color }}{% endcapture %}{% endif %}

			<article class="project__preview">
				<div class="project__images owl-carousel" style="--accent: {{ accent_color }}">
					{% include {{ project.images }} %}
				</div>
			</article>

			{% endfor %}
			
		</div>
	</section>

	<section class="technologies">
		<div style="margin-bottom: 30px">
			<div class="wrap">
				<div class="grid_2">
					<div style="font-size: 1.2em;">
						<p>Laura is a highly motivated architect that always strives to realize client's dream in a sustainable way.</p>
						<p style="margin-top: 10px">
							Familiar with all design phases and particularly with the Dutch building code. 
							Even though her portfolio includes projects from all over the world (EU, RU, USA) and spans from warehouses to shopping mall to housing.
							<p style="margin-top: 10px"> 
							Her goal is to support private clients, as well as, small and medium size architecture offices, from concept to construction, thanks to her extensive softwares knowledge (Revit, Archicad, Sketchup, Enscape, Lumion 3D, Adobe Suite... among others).
							<p style="margin-top: 10px">
							Could you use some help or just wanna say hi? <br>Either ways, feel free to get in touch! 
						</p>
					</div>
					<img width="60%" src="{{ '/images/profile.png' | relative_url }}" style="margin-left: auto; margin-right: auto;" >
				</div>	
			</div>
		</div>
		<div class="usp" style="margin-top: 30px">
			<div class="wrap">
				<div class="grid_2" style="margin-bottom: 30px; margin-top: 30px">
					<img width="80%" src="{{ '/images/Project1.jpg' | relative_url }}" style="margin-right: auto; margin-left: auto; border: 1px solid #000">
					<div style="width:80%; margin-right: auto; margin-top: 30px;">
						<h3>TECHNICAL DRAWING</h3>
						<p style="font-size: 1.2em;">Need help drawing your dream project for the building permit or for builders and contractor or simply for you to see it? Happy to help!
						</p>
						<div style="margin-top: 30px;">
							<a href="#" class="button--fill --large contact-trigger js-contact">More info</a>
						</div>
					</div>
				</div>
			</div>
			<div class="wrap">
				<div class="grid_2" style="margin-bottom: 30px; margin-top: 30px">
					<img width="80%" src="{{ '/images/Project4.jpg' | relative_url }}" style="margin-right: auto; margin-left: auto;">
					<div style="width:80%; margin-right: auto; margin-top: 30px;">
						<h3>2D & 3D VISUALIZATIONS</h3>
						<p style="font-size: 1.2em;">Want to visualize the entire space before it's built?
							From still images to 360° to video, there’s a ton of possibilities out there! Curious to know more?
						</p>
						<div style="margin-top: 30px;">
							<a href="#" class="button--fill --large contact-trigger js-contact">More info</a>
						</div>
					</div>
				</div>
			</div>
			<div class="wrap">
				<div class="grid_2" style="margin-bottom: 30px; margin-top: 30px">
					<video width="80%" src="{{ '/images/Project3.mp4' | relative_url }}" style="margin-right: auto; margin-left: auto; border: 0px solid #000" playsinline muted autoplay></video>
					<div style="width:80%; margin-right: auto; margin-top: 30px;">
						<h3>FULL-SERVICE</h3>
						<p style="font-size: 1.2em;">Every project is NOT the same. Request a specific design from start to finish completely tailored on your needs and up to the scale of detail that you need.
						</p>
						<div style="margin-top: 30px;">
							<a href="#" class="button--fill --large contact-trigger js-contact">More info</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="hero usp" style="text-align: center; padding-top: 50px;">
			<img src="{{ '/images/Render_final2.jpg' | relative_url }}" style="object-fit:cover; margin-left: auto; margin-right: auto;">
		</div>
	</section>
</div>