// - - - - - - - - - - - - - - - - - -

// Structure

// - - - - - - - - - - - - - - - - - -

.page,
.page__content {
	width: 100%;
}

.wrap {
	position: relative;
	margin: 0 auto;
  padding: 0 30px;
  width: 100%;
  max-width: 1200px;
}

.grid_2 {
	display: grid;
	grid-column-gap: 0px;
  @include mq(tabletp) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid_3 {
	display: grid;
	grid-column-gap: 30px;
  @include mq(tabletp) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.fancy {
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
}
.fancy:hover {
  -webkit-filter: none !important; 
  filter: none !important;
}

.grid {
	display: grid;
	grid-gap: 30px;

	&__2-col {
    @extend .grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__3-col {
    @extend .grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &__4-col {
    @extend .grid;
    grid-template-columns: repeat(4, 1fr);
  }

  @include mq(tabletp) {
    grid-gap: 30px;
  }
}

.locked {
  overflow: hidden;
}